.header {
  background-color: #fff;
  border-bottom: .5px #cacaca solid;
  /* min-height: 3.25rem; */
  height: 15vh;
};
.logo {
  vertical-align: middle;
}
.main-section {
  display: flex;
  justify-content: center;
}
